html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #922C40;
  color: #F3EAC0;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile-pic img {
  padding-top: 10px;
  width: 20vw;
  height: 28vw;
  margin: 0 auto;
  display: block;
}

.tech {
  display: flex
}

.techname {
  justify-self: space-between;
  text-align: justify;
  padding-left: 10px;
}


.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 17px;
  color: #DC9750;
}

.brand-statement {
  padding-top: 20px;
}

.personal-summary {
  padding-top: 20px;
}

.tech-stacks {
  padding-top: 30px;
  padding-left: 10px;
}